.gradle
out
Regulators.iml
.idea
*.class
*.jar
hs_err_pid*
.DS_Store
/build/classes/main/eu/hansolo/fx/regulators/FeedbackRegulator$1.class
/build/classes/main/eu/hansolo/fx/regulators/Regulator$3.class
/build/classes/main/eu/hansolo/fx/regulators/Regulator$4.class
/build/classes/main/eu/hansolo/fx/regulators/FeedbackRegulator$2.class
/build/classes/main/eu/hansolo/fx/regulators/Regulator.class
/build/classes/main/eu/hansolo/fx/regulators/FeedbackRegulator$3.class
/build/classes/main/eu/hansolo/fx/regulators/Regulator$9.class
/build/classes/main/eu/hansolo/fx/regulators/FeedbackRegulator$4.class
/build/classes/main/eu/hansolo/fx/regulators/FeedbackRegulator$5.class
/build/classes/main/eu/hansolo/fx/regulators/Regulator$5.class
/build/classes/main/eu/hansolo/fx/regulators/Regulator$10.class
/build/classes/main/eu/hansolo/fx/regulators/FeedbackRegulator$6.class
/build/classes/main/eu/hansolo/fx/regulators/Regulator$6.class
/build/classes/main/eu/hansolo/fx/regulators/FeedbackRegulator$7.class
/build/classes/main/eu/hansolo/fx/regulators/FeedbackRegulator.class
/build/classes/main/eu/hansolo/fx/regulators/Regulator$7.class
/build/classes/main/eu/hansolo/fx/regulators/Regulator$8.class
/build/classes/main/eu/hansolo/fx/regulators/FeedbackRegulator$10.class
/build/classes/main/eu/hansolo/fx/regulators/FeedbackRegulator$8.class
/build/classes/main/eu/hansolo/fx/regulators/Regulator$1.class
/build/classes/main/eu/hansolo/fx/regulators/FeedbackRegulator$9.class
/build/classes/main/eu/hansolo/fx/regulators/Regulator$2.class
/build/tmp
/build/publications
/build/docs
/build/classes/main/eu/hansolo/fx/regulators/Main$1.class
ColorRegulatorBuilder.class
